.card {
    overflow: hidden;
    height: 100%;
   
    &__image {
        height: 300px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-info {

        &__bar {
            display: flex;
            justify-content: space-between;

            > * {
                padding: .75rem 0;
            }
        }

        &__title {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            line-height: 140%;
            font-weight: 500;
            color: white;
        }

        &__release, &__tag {
            color: gray;
            font-family: "Montserrat", sans-serif;
            font-size: .8rem;
            line-height: 140%;
            font-weight: 400;

        }
    }
}